<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title>NewsLab</title>
 <link rel="stylesheet" href="../static/style.css">
 <script src="../static/script.js"></script>
 <script src="https://kit.fontawesome.com/e306548693.js" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">NewsLab</a></div>
      <ul class="menu">
        <li><a href="#Home">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#model">Model</a></li>
        <li><a href="#HowItWorks">Working</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="button">
    <a href="#Home"><i class="fas fa-arrow-up"></i></a>
  </div>

<!-- __________________________________________________________HOME__________________________________________ -->

  <div id="Home" class="home">
    <video autoplay muted loop class="myVideo">
      <source src="../static/HomeClip.mp4" type="video/mp4">
    </video>
    <div class="heading-container heading-text">
      <div class="heading-text-1 ">Fake News Detection Model</div>
      <div class="heading-text-2"> Be Aware of - <span class="element"> </span></div>
   
      <div class="btn-div" >
        <button class="button" onclick="scrollToModel()"> Click Here !</button>
      </div>
      
    </div>
  </div>
  
<!-- ________________________________________________________________About________________________________- -->

<div  id="About" class="About">
  <h1>About Us</h1>
  <h2>(Our  Battle Against Fake News)</h2>
  <p> The aim of the fake news project is to help news readers to identify bias and misinformation in news articles in a quick and reliable fashion. 
    We have collected news articles with veracity labels from fact-checking websites and used them to train text classification systems 
    to detect fake from real news. You can paste a piece of text and examine its similarity to our collection of true vs. 
    false news articles, or to news from four different types/genre. Enjoy testing!.</p>
</div>


<!-- _________________________________________________________MODEL________________________________________-- -->

<div id="model">
    <div class="model">
      <div class="card">
          <h1>Fake News Detector</h1>
          <h2>(Paste Your Content)</h2>

          <form action="{{ url_for('predict')}}" method="POST">
              <textarea name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>
              <br> </br>
              <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
              <div class="results">
                  {% if prediction == ['FAKE'] %}
                  <h2 style="color:red;text-shadow: 1px 1px black; font-size: 30px; ">
                    Looking Spam News ⚠️ 
                  </h2>
                  {% elif prediction == ['REAL'] %}
                  <h2 style="color:rgb(0, 255, 0); text-shadow: 1px 1px black; font-size: 30px;">
                    <b>Looking Real News ✅</b>
                  </h2>
                  {% endif %}
              </div>
          </form>
      </div>
  </div>
  </div>

<!-- _________________________________________________________HOW IT WORKS_______________________________________________________ -->

<div id="HowItWorks">
  <h1>How It Works</h1>
  <h2>( How the Model Predict the Information )</h2>
  <ul>
      <li style="--accent-color:#41516C">
          <div class="date">Text Preprocessing</div>
          <div class="title"></div>
          <div class="descr">The input news text is preprocessed to remove any stop words and perform other text cleaning operations.</div>
      </li>
      <li style="--accent-color:#FBCA3E">
          <div class="date">TF-IDF Vectorization</div>
          <div class="title"></div>
          <div class="descr">The preprocessed text is transformed into a numerical representation using TF-IDF vectorization. 
            This process converts the text into a matrix where each row represents a document and each column represents a unique word 
            in the corpus. The values in the matrix represent the importance of each word in the document relative to the entire corpus.</div>
      </li>
      <li style="--accent-color:#E24A68">
          <div class="date">Model Prediction</div>
          <div class="title"></div>
          <div class="descr">The TF-IDF transformed text is fed into the trained Passive Aggressive Classifier model. 
            The model then assigns a label to the input text based on its learned decision boundaries. In this case, the
            labels are typically 'FAKE' or 'REAL' for fake and true news, respectively.</div>
      </li>

      <li style="--accent-color:#1B5F8C">
          <div class="date">Output</div>
          <div class="title"></div>
          <div class="descr">The model's prediction (either 'FAKE' or 'REAL') is returned as the output, indicating whether the input news text is classified as fake or true.</div>
      </li>
    
  </ul>
</div>

  <!-- ____________________________________________________________FORM_________________________________________________________- -->

<div id="Contact" class="Contact"> 

  <h1>Drop Us a Message</h1>

 <div class="form-card">
  <form class="colorful-form">
    <div class="form-group">
      <label class="form-label" for="name">Name:</label>
      <input required="" name="Name" placeholder="Enter your name" class="form-input" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="email">Email:</label>
      <input required=""  placeholder="Enter your email" class="form-input" name="Email" id="email" type="email">
    </div>
    <div class="form-group">
      <label class="form-label" for="message">Message:</label>
      <textarea required="" placeholder="Enter your message" class="form-input" name="Message" id="message"></textarea>
    </div>
    <button class="form-button" type="submit">Submit</button>
  </form>
 </div>
  
</div>
<!-- _____________________________________________________FOOTER____________________________________________________ -->
    
<footer class="footer-distributed">
  
  <div class="footer-left">

    <h3>News<span>Lab</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      <a href="#About">About</a>
      <a href="#model">Model</a>
      <a href="#HowItWorks">Working</a>
      <a href="#Contact">Contact</a>
    </p>

    <p class="footer-company-name">2020BEC014-Btech-Project-2024</p>
  </div>

  <div class="footer-center">

    <div style="justify-content: center; display: flex;">
      <i class="fa fa-map-marker"></i>
      <p>Shri Guru Gobind Singhji Institute of Engineering and Technology (SGGSIE&T), Vishnupuri Nanded-431606</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 1234 567 890</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:rutiktorambe24@gmail.com">support@NewsLab.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the NewsLab</span>
      "Empowering Truth: Combating Misinformation, One Line at a Time."
    </p>

    <div class="footer-icons">

      <a href="https://github.com/Rutiktorambe"><i class="fa-brands fa-square-github"></i></a>
      <a href="https://www.linkedin.com/in/rutiktorambe/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://rutiktorambe.netlify.app/"><i class="fa-solid fa-globe"></i></a>
      <a href="https://www.instagram.com/rutiktorambe24/"><i class="fa-brands fa-instagram"></i></a>
    </div>


  </div>

</footer>


</body>
</html>






<!-- action="https://script.google.com/macros/s/AKfycbwfsOb9tWZyJdP_on1rK47bBhp-Nc0zk0bxMvtgEEV5HdeezRxcyL9iHT4WDjmdG0vI/exec" -->