body {
    font-family: Arial, sans-serif;
    background-color: #cfc5c5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: #ffffff3b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #ff0090;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    padding-top: 50px;
    color: #ff0000;
    font-weight: bold;
}

p span {
    color: #007bff;
    font-weight: bold;
}