@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* _____________________________________________Scroll-Bar___________________________________________ */

 body::-webkit-scrollbar-track{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
   border-radius: 10px;
}
 
 body::-webkit-scrollbar{
   width: 10px;
   background-color: #F5F5F5;
}
 
 body::-webkit-scrollbar-thumb{
   background-color: #AAA;
   border-radius: 10px;
   background-image: -webkit-linear-gradient(90deg,
                                             rgba(0, 0, 0, .2) 25%,
                         transparent 25%,
                         transparent 50%,
                         rgba(0, 0, 0, .2) 50%,
                         rgba(0, 0, 0, .2) 75%,
                         transparent 75%,
                         transparent)
}


/* _________________________________ ____________NAVBAR__________________________________________________ */

nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 75px;
 background: #ffffff;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
z-index: 10;
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #ffffff;
 margin: auto;
}
nav .navbar .logo a{
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #000000;
  background: #ffffff;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}


/* ______________________________________________________Home___________________________________________ */

.home{
margin-top: 10px;
}

.myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
  opacity:0.85;
}

.heading-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; 
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.heading-text-1{
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  background-color: #0000001b;
  padding: 2px 10px;
}

.heading-text-2
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #1eff00;
  text-shadow: 2px 2px 2px #000000;
}



.element {
  padding-left: 10px;
  &:after {
		animation: changeLetter 12s linear infinite;
		-ms-animation: changeLetter 12s linear infinite;
		-webkit-animation: changeLetter 12s linear infinite;
    display: block;
    content: "Corruption";
    color: #ff0000;
    text-shadow: 2px 2px 2px #000000;
  }
}

@keyframes changeLetter {
	0% { content:"Misinformation"}
  10% { content:"Disinformation"}
  20% { content:"Manipulation"}
  30% { content:"Propaganda"}
  40% { content:"FakeNews"}
  50% { content: "Exploitation"}
  60% { content: "Discrimination"}
  70% { content: "Injustice"}
  80% { content: "Inequality"}
  90% { content: "Deception"}
}

@-webkit-keyframes changeLetter {
	0% { content:"Misinformation"}
  10% { content:"Disinformation"}
  20% { content:"Manipulation"}
  30% { content:"Propaganda"}
  40% { content:"FakeNews"}
  50% { content: "Exploitation"}
  60% { content: "Discrimination"}
  70% { content: "Injustice"}
  80% { content: "Inequality"}
  90% { content: "Deception"}
}

@-ms-keyframes changeLetter {
	0% { content:"Misinformation"}
  10% { content:"Disinformation"}
  20% { content:"Manipulation"}
  30% { content:"Propaganda"}
  40% { content:"FakeNews"}
  50% { content: "Exploitation"}
  60% { content: "Discrimination"}
  70% { content: "Injustice"}
  80% { content: "Inequality"}
  90% { content: "Deception"}
}

.home .btn-div{
  padding-top: 10px;

}

.home .button {
  padding: 10px 20px; 
  border: unset;
  border-radius: 15px;
  color: #e8e8e8;
  z-index: 1;
  background: #212121;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

 
.home .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #e8e8e8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .home .button:hover {
  color: #212121;
 }
 
 .home .button:hover::before {
  width: 100%;
 }

/* ______________________________________________________________________About___________________________________________________________ */


.About {
  height: 80vh;
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About  h1 {
  color: #000;
  font-size: 60px;
  text-shadow: 2px 2px #d1caca;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
}

.About  h2 {
  color: #000;
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 500;
}

.About p {
  color: #000;
  font-size: 20px;
  padding-bottom: 20px;
}
 

/* _______________________________________________________MODEL_________________________________________________________ */

 #model{
	height: 90vh;
	width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.model {
    width: 80%;
    height: auto;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0000002d; 
    box-shadow: 8px 8px 8px #000000aa, -8px -8px 8px #000000aa; 
}

.card h1 {
    color: #ffffff;
	  text-shadow: 2px 2px #000;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card h2 {
    color: #2c2929;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}


textarea {
    width: 90%; 
    margin: 20px auto;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 25px;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.5s ease;
}

textarea:focus { 
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2); 
}


#model button {
	background-color: #eee;
	border: none;
	padding: .5rem;
	font-size: 1rem;
	width: 8em;
	border-radius: 1rem;
	color: lightcoral;
	box-shadow: 0 0.4rem #dfd9d9;
	cursor: pointer;
   }
   
#model button:active {
	color: white;
	box-shadow: 0 0.2rem #dfd9d9;
	transform: translateY(0.2rem);
   }
   
#model button:hover:not(:disabled) {
	background: lightcoral;
	color: white;
	text-shadow: 0 0.1rem #bcb4b4;
   }
   
#model button:disabled {
	cursor: auto;
	color: grey;
   }

/* _______________________________________________________HOW IT WORKS_______________________________________________________--- */




#HowItWorks {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

#HowItWorks h1 {
  text-align: center;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  padding:100px 0 0 0;
  font-size: 45px;
}
#HowItWorks h2 {
  text-align: center;
  padding:0 0 100px 0;
  font-size: 25px;
  font-weight: 500;
}

#HowItWorks ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
#HowItWorks ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
#HowItWorks ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
#HowItWorks ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
#HowItWorks ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
#HowItWorks ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
#HowItWorks ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
#HowItWorks ul li .title,
#HowItWorks ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
#HowItWorks ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
#HowItWorks ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
#HowItWorks ul li .title::before,
#HowItWorks ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
#HowItWorks ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

#HowItWorks ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  #HowItWorks ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  #HowItWorks ul::before {
    grid-column: 2;
  }
  #HowItWorks ul li:nth-child(odd) {
    grid-column: 1;
  }
  #HowItWorks ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  #HowItWorks ul li:nth-child(2) {
    grid-row: 2/4;
  }

  #HowItWorks ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  #HowItWorks ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  #HowItWorks ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

#HowItWorks .credits {
  margin-top: 1rem;
  text-align: right;
}
#HowItWorks .credits a {
  color: var(--color);
}


/* __________________________________________________________FORM_______________________________________________________ */


#Contact{
 padding:100px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.Contact  h1 {
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  color: #000;
  font-size: 45px;
  text-shadow: 2px 2px #d1caca;
  padding:0 5px;
  
}

.form-card{
  margin-top: 30px;
  border: 2px solid salmon;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
}

.colorful-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-inp3ut {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #ff5f59;
}


/* __________________________________________________Footer____________________________________ */



.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #000000;
  font-size: 38px;
  text-shadow: 1px 1px 2px #fff;
	margin: 0;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #000;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #00ccff;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
  
  